@use 'bootstrap/dist/css/bootstrap.min.css';
@use "toastify-js/src/toastify.css";

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}


.task-component {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
  }
}

.task-input {
  background-color: transparent;
  border: none;
  padding: 0 10px;

  &:focus {
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
  }
}

.task-input.done {
  &:focus {
    outline: none;
    border: none;
  }
}

.hidden {
  display: none !important;
}

.task-component-buttons-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fullscreen-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.toast-close {
  color: white !important;
}
.toast-close {
  color: white !important;
  opacity: 0.8 !important;
  filter: brightness(0) invert(1) !important;
}

.toast-close:hover {
  opacity: 1 !important;
}